# Ignore everything by default
*

# Allow app directory
!app/
!tests/
!requirements-dev.txt
!cloudbuild.yaml
!ruff.toml
!ty.toml
!pytest.ini

# Explicitly ignore hidden files/folders in root (since * misses them)
.git
.venv/
venv
.DS_Store
.pytest_cache
.gitignore
__pycache__
*.pyc
.ipynb_checkpoints
.agent

# Ignore specific files/folders within app/
app/__pycache__
app/.pytest_cache
app/.logs
# app/tests
app/*.pyc
app/.DS_Store
app/.env
**/.env
