# Ignore everything by default
*

# Allow app directory
!app/
!tests/
!data/
!requirements-dev.txt
!mypy.ini
!cloudbuild.yaml

# Explicitly ignore hidden files/folders in root (since * misses them)
.git
.venv/
venv
.DS_Store
.mypy_cache
.pytest_cache
.gitignore
__pycache__
*.pyc
.ipynb_checkpoints
.agent

# Ignore specific files/folders within app/
app/__pycache__
app/.pytest_cache
app/.logs
# app/tests
app/*.pyc
app/.DS_Store
