
.agents/
AGENTS.md
__pycache__
.pytest_cache

app/__pycache__
app/cached_df
app/cached_df.parquet
app/cached_df.csv
app/.logs/*
app/.logs/
pipeline/cache/
.venv/
.DS_Store
CONSTITUTION.md
GEMINI.md
AGENTS.md
pipeline/.env
app/.env
app/.streamlit/secrets.toml
.streamlit/
app/data_private/
pipeline/data_private/
app/data/datasets/
.antigravityignore
