__pycache__
.pytest_cache
csv_large/
csv_not_used/
app/__pycache__
app/cached_df
app/cached_df.parquet
app/cached_df.csv
app/.logs/
.venv/
.DS_Store
CONSTITUTION.md
GEMINI.md
.agent/

DATA_SOURCES_SUMMARY.md
csv/DS_RP_LOGEMENT_COMPL_2022_data.csv
csv/waldec.parquet
