# App Variables
GOOGLE_API_KEY=
GOOGLE_MAPS_API_KEY=
FRANCE_TRAVAIL_CLIENT_ID=
FRANCE_TRAVAIL_CLIENT_SECRET=
DATA_INCLUSION_API_KEY=
EMPLOIS_INCLUSION_LOGIN=
EMPLOIS_INCLUSION_PWD=
EMPLOIS_INCLUSION_TOKEN=
GOOGLE_CLOUD_PROJECT=  
LOGFIRE_TOKEN=

# User Authentication
ODIS_FORCE_AUTH=True
ODIS_IDLE_DISCONNECT_ENABLED=True

# Vertex AI settings for Gemini
ODIS_AGENT_DEFAULT_MODEL=google:gemini-3.1-flash-lite
ODIS_AGENT_GCP_PROJECT=
ODIS_AGENT_GCP_LOCATION=eu
ODIS_AI_FREE_MODE=False
