branca
contextily
folium>=0.14.0
fpdf2
geopandas
matplotlib
numpy
pandas
plotly
pyproj
PyYAML

shapely
streamlit==1.55.0
streamlit-folium>=0.13.0
fastmcp
google-genai==1.70.0
pydantic
python-dotenv
langgraph
pydantic-ai==1.76.0
google-cloud-bigquery
db-dtypes
fastparquet
logfire[httpx]
pydantic-ai[logfire]==1.76.0
