branca
contextily
folium>=0.14.0
fpdf2
geopandas
matplotlib
numpy
pandas
plotly
pyproj
PyYAML

shapely
streamlit==1.55.0
streamlit-folium>=0.13.0
fastmcp
google-genai==1.70.0
pydantic
python-dotenv
pydantic-ai-slim[google,logfire]==2.0.0
google-cloud-bigquery
google-cloud-bigquery-storage
pyarrow
db-dtypes
fastparquet
logfire[httpx]
python-frontmatter
