{"openapi":"3.1.0","info":{"title":"data·inclusion API","description":"### URL de base\n\nL'API est utilisable à partir de l'URL de base suivante:\n\n```\nhttps://api.data.inclusion.gouv.fr\n```\n\nPar exemple, l'adresse complète (URL) correspondant à une recherche de services,\nsans paramètres additionnels, est:\n\n```\nhttps://api.data.inclusion.gouv.fr/api/v1/search/services\n```\n\n\n\n### Token\n\nUn token est nécessaire pour accéder aux données.\n\nLes demandes de tokens s'effectuent via [ce formulaire](https://tally.so/r/mYjJ85). L'équipe data·inclusion prendra contact avec vous.\n\nLe token doit être renseigné dans chaque requête via un header:\n`Authorization: Bearer <VOTRE_TOKEN>`.\n\n### Schéma des données\n\nLes données utilisent le schéma data·inclusion. Ce schéma comprend deux modèles principaux :\n\n* les structures proposant des services\n* les services proposés par ces structures\n\nCes deux modèles utilisent des référentiels faisant également partie du schéma data·inclusion : les types de structures et de services, les thématiques, etc.\n\nPlus d'informations sur le\n[dépôt](https://github.com/gip-inclusion/data-inclusion-schema) versionnant le schéma,\nsur la [documentation officielle](https://data.inclusion.gouv.fr/outils-et-documentation/schema-de-donnees/)\nou sur la page [schema.gouv](https://schema.data.gouv.fr/gip-inclusion/data-inclusion-schema/) du schéma.\n\n### Sources des données\n\nLes données data·inclusion sont issues d'un ensemble de sources (emplois de l'inclusion, France Travail, etc.).\n\nLe endpoint `/sources` permet de lister les sources disponibles.\n\n\n### Filtrer géographiquement les données\n\nLes données renvoyées par certains endpoints peuvent être filtrées géographiquement.\n\nLes codes communes, départements et régions utilisés sont issus de l'API [découpage administratif](https://geo.api.gouv.fr/decoupage-administratif).\n\nL'[api de la base adresse nationale](https://adresse.data.gouv.fr/api-doc/adresse) est utilisée afin d'automatiser l'identification de codes insee associés à partir d'adresses ou de parties d'adresses (e.g. nom de commune, code postal).\n\n\n### Nous contacter\n\n#### via notre [formulaire de contact](https://data.inclusion.gouv.fr/nous-contacter/)\n\n#### par mail à [data-inclusion@inclusion.gouv.fr](mailto:data-inclusion@inclusion.gouv.fr)","contact":{"name":"data·inclusion","url":"https://data.inclusion.gouv.fr/","email":"data-inclusion@inclusion.gouv.fr"},"version":"0.1.0"},"servers":[{"url":"https://api.data.inclusion.gouv.fr","description":"prod"}],"paths":{"/api/v1/structures":{"get":{"tags":["Données"],"summary":"Lister les structures consolidées","operationId":"list_structures_endpoint_api_v1_structures_get","security":[{"HTTPBearer":["api"]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number","default":1,"title":"Page"},"description":"Page number"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":10000,"minimum":1,"description":"Page size","default":5000,"title":"Size"},"description":"Page size"},{"name":"sources","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Une liste d'identifiants de source.\n                La liste des identifiants de source est disponible sur le endpoint\n                dédié. Les résultats seront limités aux sources spécifiées.\n            ","title":"Sources"},"description":"Une liste d'identifiants de source.\n                La liste des identifiants de source est disponible sur le endpoint\n                dédié. Les résultats seront limités aux sources spécifiées.\n            "},{"name":"reseaux_porteurs","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/ReseauPorteur"}},{"type":"null"}],"title":"Reseaux Porteurs"}},{"name":"code_region","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/RegionCodeEnum"},{"type":"null"}],"description":"Code insee géographique d'une région.","title":"Code Region"},"description":"Code insee géographique d'une région."},{"name":"slug_region","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/RegionSlugEnum"},{"type":"null"}],"title":"Slug Region"}},{"name":"code_departement","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DepartementCodeEnum"},{"type":"null"}],"description":"Code insee géographique d'un département.","title":"Code Departement"},"description":"Code insee géographique d'un département."},{"name":"slug_departement","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DepartementSlugEnum"},{"type":"null"}],"title":"Slug Departement"}},{"name":"code_commune","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":5,"maxLength":5,"pattern":"^\\w{5}$"},{"type":"null"}],"description":"Code insee géographique d'une commune.","title":"Code Commune"},"description":"Code insee géographique d'une commune."},{"name":"exclure_doublons","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"[BETA] Mode qui ne retourne parmi les structures en doublon, que celles ayant les services les plus qualitatifs (voir [documentation](https://gip-inclusion.notion.site/Syst-me-de-d-duplication-des-donn-es-17d5f321b60480f99f6cf65522a83c8b?pvs=4)).","default":false,"title":"Exclure Doublons"},"description":"[BETA] Mode qui ne retourne parmi les structures en doublon, que celles ayant les services les plus qualitatifs (voir [documentation](https://gip-inclusion.notion.site/Syst-me-de-d-duplication-des-donn-es-17d5f321b60480f99f6cf65522a83c8b?pvs=4))."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page_ListedStructure_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/structures/{id}":{"get":{"tags":["Données"],"summary":"Détailler une structure","operationId":"retrieve_structure_endpoint_api_v1_structures__id__get","security":[{"HTTPBearer":["api"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedStructure"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/sources":{"get":{"tags":["Données"],"summary":"Lister les sources consolidées","operationId":"list_sources_endpoint_api_v1_sources_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/Source"},"type":"array","title":"Response List Sources Endpoint Api V1 Sources Get"}}}}},"security":[{"HTTPBearer":["api"]}]}},"/api/v1/services":{"get":{"tags":["Données"],"summary":"Lister les services consolidés","operationId":"list_services_endpoint_api_v1_services_get","security":[{"HTTPBearer":["api"]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number","default":1,"title":"Page"},"description":"Page number"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":10000,"minimum":1,"description":"Page size","default":5000,"title":"Size"},"description":"Page size"},{"name":"sources","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Une liste d'identifiants de source.\n                La liste des identifiants de source est disponible sur le endpoint\n                dédié. Les résultats seront limités aux sources spécifiées.\n            ","title":"Sources"},"description":"Une liste d'identifiants de source.\n                La liste des identifiants de source est disponible sur le endpoint\n                dédié. Les résultats seront limités aux sources spécifiées.\n            "},{"name":"thematiques","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/Thematique"},{"$ref":"#/components/schemas/Categorie"}]}},{"type":"null"}],"description":"Une liste de thématique.\n                Chaque résultat renvoyé a (au moins) une thématique dans cette liste.","title":"Thematiques"},"description":"Une liste de thématique.\n                Chaque résultat renvoyé a (au moins) une thématique dans cette liste."},{"name":"code_region","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/RegionCodeEnum"},{"type":"null"}],"description":"Code insee géographique d'une région.","title":"Code Region"},"description":"Code insee géographique d'une région."},{"name":"slug_region","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/RegionSlugEnum"},{"type":"null"}],"title":"Slug Region"}},{"name":"code_departement","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DepartementCodeEnum"},{"type":"null"}],"description":"Code insee géographique d'un département.","title":"Code Departement"},"description":"Code insee géographique d'un département."},{"name":"slug_departement","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DepartementSlugEnum"},{"type":"null"}],"title":"Slug Departement"}},{"name":"code_commune","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":5,"maxLength":5,"pattern":"^\\w{5}$"},{"type":"null"}],"description":"Code insee géographique d'une commune.","title":"Code Commune"},"description":"Code insee géographique d'une commune."},{"name":"frais","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Frais"}},{"type":"null"}],"description":"Une liste de frais.\n                Chaque résultat renvoyé a (au moins) un frais dans cette liste.","title":"Frais"},"description":"Une liste de frais.\n                Chaque résultat renvoyé a (au moins) un frais dans cette liste."},{"name":"publics","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Public"}},{"type":"null"}],"description":"Une liste de publics.\n                Chaque résultat renvoyé a (au moins) un public dans cette liste.\n            ","title":"Publics"},"description":"Une liste de publics.\n                Chaque résultat renvoyé a (au moins) un public dans cette liste.\n            "},{"name":"recherche_public","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Une recherche en texte intégral parmi toutes\n              les valeurs \"publics\" que nous collectons chez nos producteurs de données.\n            ","title":"Recherche Public"},"description":"Une recherche en texte intégral parmi toutes\n              les valeurs \"publics\" que nous collectons chez nos producteurs de données.\n            "},{"name":"modes_accueil","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/ModeAccueil"}},{"type":"null"}],"description":"Une liste de modes d'accueil.\n                Chaque résultat renvoyé a (au moins) un mode d'accueil dans cette liste.\n            ","title":"Modes Accueil"},"description":"Une liste de modes d'accueil.\n                Chaque résultat renvoyé a (au moins) un mode d'accueil dans cette liste.\n            "},{"name":"types","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/TypeService"}},{"type":"null"}],"description":"Une liste de typologies de service.\n                Chaque résultat renvoyé a (au moins) une typologie dans cette liste.","title":"Types"},"description":"Une liste de typologies de service.\n                Chaque résultat renvoyé a (au moins) une typologie dans cette liste."},{"name":"score_qualite_minimum","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Score de qualité minimum.\n                Les résultats renvoyés ont un score de qualité supérieur ou égal à ce\n                score. (voir [documentation](https://gip-inclusion.notion.site/Conception-du-score-de-qualit-17b5f321b60480a1b79bf4a17b4567dd?pvs=4))","title":"Score Qualite Minimum"},"description":"Score de qualité minimum.\n                Les résultats renvoyés ont un score de qualité supérieur ou égal à ce\n                score. (voir [documentation](https://gip-inclusion.notion.site/Conception-du-score-de-qualit-17b5f321b60480a1b79bf4a17b4567dd?pvs=4))"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page_Service_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/services/{id}":{"get":{"tags":["Données"],"summary":"Détailler un service","operationId":"retrieve_service_endpoint_api_v1_services__id__get","security":[{"HTTPBearer":["api"]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DetailedService"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/search/services":{"get":{"tags":["Données"],"summary":"Rechercher des services","description":"## Rechercher des services\n\nLa recherche de services permet de trouver des services dans une commune et à\nproximité.\n\nLes services peuvent être filtrés selon par thématiques, frais, typologies et\ncode_insee de commune.\n\nEn particulier, lorsqu'un `code_commune` est fourni :\n\n* les services sont filtrés par zone de diffusion lorsque celle-ci est définie.\n* de plus, les services en présentiel sont filtrés dans un rayon de 50km autour de\nla commune ou du point de recherche fourni.\n* le champ `distance` est :\n    * rempli pour les services (non exclusivement) en présentiel.\n    * laissé vide pour les services à distance et par défaut si le mode d'accueil\n    n'est pas définie.\n* les résultats sont triés par distance croissante.","operationId":"search_services_endpoint_api_v1_search_services_get","security":[{"HTTPBearer":["api"]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number","default":1,"title":"Page"},"description":"Page number"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":10000,"minimum":1,"description":"Page size","default":5000,"title":"Size"},"description":"Page size"},{"name":"sources","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Une liste d'identifiants de source.\n                La liste des identifiants de source est disponible sur le endpoint\n                dédié. Les résultats seront limités aux sources spécifiées.\n            ","title":"Sources"},"description":"Une liste d'identifiants de source.\n                La liste des identifiants de source est disponible sur le endpoint\n                dédié. Les résultats seront limités aux sources spécifiées.\n            "},{"name":"code_commune","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":5,"maxLength":5,"pattern":"^\\w{5}$"},{"type":"null"}],"description":"Code insee de la commune considérée.\n                Si fourni, les résultats inclus également les services proches de\n                cette commune. Les résultats sont triés par ordre de distance\n                croissante.\n            ","title":"Code Commune"},"description":"Code insee de la commune considérée.\n                Si fourni, les résultats inclus également les services proches de\n                cette commune. Les résultats sont triés par ordre de distance\n                croissante.\n            "},{"name":"lat","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Latitude du point de recherche.\n                Nécessite également de fournir `lon`.\n                Les résultats sont triés par ordre de distance croissante à ce point.\n            ","title":"Lat"},"description":"Latitude du point de recherche.\n                Nécessite également de fournir `lon`.\n                Les résultats sont triés par ordre de distance croissante à ce point.\n            "},{"name":"lon","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Longitude du point de recherche.\n                Nécessite également de fournir `lat`.\n                Les résultats sont triés par ordre de distance croissante à ce point.\n            ","title":"Lon"},"description":"Longitude du point de recherche.\n                Nécessite également de fournir `lat`.\n                Les résultats sont triés par ordre de distance croissante à ce point.\n            "},{"name":"thematiques","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/Thematique"},{"$ref":"#/components/schemas/Categorie"}]}},{"type":"null"}],"description":"Une liste de thématique.\n                Chaque résultat renvoyé a (au moins) une thématique dans cette liste.","title":"Thematiques"},"description":"Une liste de thématique.\n                Chaque résultat renvoyé a (au moins) une thématique dans cette liste."},{"name":"frais","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Frais"}},{"type":"null"}],"description":"Une liste de frais.\n                Chaque résultat renvoyé a (au moins) un frais dans cette liste.","title":"Frais"},"description":"Une liste de frais.\n                Chaque résultat renvoyé a (au moins) un frais dans cette liste."},{"name":"modes_accueil","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/ModeAccueil"}},{"type":"null"}],"description":"Une liste de modes d'accueil.\n                Chaque résultat renvoyé a (au moins) un mode d'accueil dans cette liste.\n            ","title":"Modes Accueil"},"description":"Une liste de modes d'accueil.\n                Chaque résultat renvoyé a (au moins) un mode d'accueil dans cette liste.\n            "},{"name":"publics","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Public"}},{"type":"null"}],"description":"Une liste de publics.\n                Chaque résultat renvoyé a (au moins) un public dans cette liste.\n            ","title":"Publics"},"description":"Une liste de publics.\n                Chaque résultat renvoyé a (au moins) un public dans cette liste.\n            "},{"name":"recherche_public","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Une recherche en texte intégral parmi toutes\n              les valeurs \"publics\" que nous collectons chez nos producteurs de données.\n            ","title":"Recherche Public"},"description":"Une recherche en texte intégral parmi toutes\n              les valeurs \"publics\" que nous collectons chez nos producteurs de données.\n            "},{"name":"types","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/TypeService"}},{"type":"null"}],"description":"Une liste de typologies de service.\n                Chaque résultat renvoyé a (au moins) une typologie dans cette liste.","title":"Types"},"description":"Une liste de typologies de service.\n                Chaque résultat renvoyé a (au moins) une typologie dans cette liste."},{"name":"score_qualite_minimum","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Score de qualité minimum.\n                Les résultats renvoyés ont un score de qualité supérieur ou égal à ce\n                score. (voir [documentation](https://gip-inclusion.notion.site/Conception-du-score-de-qualit-17b5f321b60480a1b79bf4a17b4567dd?pvs=4))","title":"Score Qualite Minimum"},"description":"Score de qualité minimum.\n                Les résultats renvoyés ont un score de qualité supérieur ou égal à ce\n                score. (voir [documentation](https://gip-inclusion.notion.site/Conception-du-score-de-qualit-17b5f321b60480a1b79bf4a17b4567dd?pvs=4))"},{"name":"exclure_doublons","in":"query","required":false,"schema":{"anyOf":[{"type":"boolean"},{"type":"null"}],"description":"[BETA] Mode qui ne retourne, parmi les services attachés à des structures en doublon, que ceux attachés à la structure la plus qualitative (voir [documentation](https://gip-inclusion.notion.site/Syst-me-de-d-duplication-des-donn-es-17d5f321b60480f99f6cf65522a83c8b?pvs=4)).","default":false,"title":"Exclure Doublons"},"description":"[BETA] Mode qui ne retourne, parmi les services attachés à des structures en doublon, que ceux attachés à la structure la plus qualitative (voir [documentation](https://gip-inclusion.notion.site/Syst-me-de-d-duplication-des-donn-es-17d5f321b60480f99f6cf65522a83c8b?pvs=4))."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page_ServiceSearchResult_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/search":{"get":{"tags":["Données"],"summary":"[BETA] Recherche expérimentale. Ne pas utiliser en production.","description":"Recherche **expérimentale** par mots-clés dans les champs suivants :\n    1. nom structure et service\n    2. thématiques et publics\n    3. description service et structure","operationId":"search_endpoint_api_v1_search_get","security":[{"HTTPBearer":["api"]}],"parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Page number","default":1,"title":"Page"},"description":"Page number"},{"name":"size","in":"query","required":false,"schema":{"type":"integer","maximum":10000,"minimum":1,"description":"Page size","default":5000,"title":"Size"},"description":"Page size"},{"name":"q","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Termes à rechercher.","title":"Q"},"description":"Termes à rechercher."},{"name":"sources","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}],"description":"Une liste d'identifiants de source.\n                La liste des identifiants de source est disponible sur le endpoint\n                dédié. Les résultats seront limités aux sources spécifiées.\n            ","title":"Sources"},"description":"Une liste d'identifiants de source.\n                La liste des identifiants de source est disponible sur le endpoint\n                dédié. Les résultats seront limités aux sources spécifiées.\n            "},{"name":"code_commune","in":"query","required":false,"schema":{"anyOf":[{"type":"string","minLength":5,"maxLength":5,"pattern":"^\\w{5}$"},{"type":"null"}],"description":"Code insee de la commune considérée.","title":"Code Commune"},"description":"Code insee de la commune considérée."},{"name":"code_region","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/RegionCodeEnum"},{"type":"null"}],"description":"Code insee géographique d'une région.","title":"Code Region"},"description":"Code insee géographique d'une région."},{"name":"slug_region","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/RegionSlugEnum"},{"type":"null"}],"title":"Slug Region"}},{"name":"code_departement","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DepartementCodeEnum"},{"type":"null"}],"description":"Code insee géographique d'un département.","title":"Code Departement"},"description":"Code insee géographique d'un département."},{"name":"slug_departement","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/DepartementSlugEnum"},{"type":"null"}],"title":"Slug Departement"}},{"name":"lat","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Latitude du point de recherche.\n                Nécessite également de fournir `lon`.\n                Les résultats sont triés par ordre de distance croissante à ce point.\n            ","title":"Lat"},"description":"Latitude du point de recherche.\n                Nécessite également de fournir `lon`.\n                Les résultats sont triés par ordre de distance croissante à ce point.\n            "},{"name":"lon","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Longitude du point de recherche.\n                Nécessite également de fournir `lat`.\n                Les résultats sont triés par ordre de distance croissante à ce point.\n            ","title":"Lon"},"description":"Longitude du point de recherche.\n                Nécessite également de fournir `lat`.\n                Les résultats sont triés par ordre de distance croissante à ce point.\n            "},{"name":"distance","in":"query","required":false,"schema":{"type":"integer","minimum":1,"description":"Rayon de recherche en kilomètres autour des\n                coordonnées fournies `lat`/`lon`.\n                Sans effet si `lat` et `lon` ne sont pas fournis.\n            ","default":50,"title":"Distance"},"description":"Rayon de recherche en kilomètres autour des\n                coordonnées fournies `lat`/`lon`.\n                Sans effet si `lat` et `lon` ne sont pas fournis.\n            "},{"name":"thematiques","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"anyOf":[{"$ref":"#/components/schemas/Thematique"},{"$ref":"#/components/schemas/Categorie"}]}},{"type":"null"}],"description":"Une liste de thématique.\n                Chaque résultat renvoyé a (au moins) une thématique dans cette liste.","title":"Thematiques"},"description":"Une liste de thématique.\n                Chaque résultat renvoyé a (au moins) une thématique dans cette liste."},{"name":"frais","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Frais"}},{"type":"null"}],"description":"Une liste de frais.\n                Chaque résultat renvoyé a (au moins) un frais dans cette liste.","title":"Frais"},"description":"Une liste de frais.\n                Chaque résultat renvoyé a (au moins) un frais dans cette liste."},{"name":"modes_accueil","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/ModeAccueil"}},{"type":"null"}],"description":"Une liste de modes d'accueil.\n                Chaque résultat renvoyé a (au moins) un mode d'accueil dans cette liste.\n            ","title":"Modes Accueil"},"description":"Une liste de modes d'accueil.\n                Chaque résultat renvoyé a (au moins) un mode d'accueil dans cette liste.\n            "},{"name":"publics","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/Public"}},{"type":"null"}],"description":"Une liste de publics.\n                Chaque résultat renvoyé a (au moins) un public dans cette liste.\n            ","title":"Publics"},"description":"Une liste de publics.\n                Chaque résultat renvoyé a (au moins) un public dans cette liste.\n            "},{"name":"types","in":"query","required":false,"schema":{"anyOf":[{"type":"array","items":{"$ref":"#/components/schemas/TypeService"}},{"type":"null"}],"description":"Une liste de typologies de service.\n                Chaque résultat renvoyé a (au moins) une typologie dans cette liste.","title":"Types"},"description":"Une liste de typologies de service.\n                Chaque résultat renvoyé a (au moins) une typologie dans cette liste."},{"name":"score_qualite_minimum","in":"query","required":false,"schema":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Score de qualité minimum.\n                Les résultats renvoyés ont un score de qualité supérieur ou égal à ce\n                score. (voir [documentation](https://gip-inclusion.notion.site/Conception-du-score-de-qualit-17b5f321b60480a1b79bf4a17b4567dd?pvs=4))","title":"Score Qualite Minimum"},"description":"Score de qualité minimum.\n                Les résultats renvoyés ont un score de qualité supérieur ou égal à ce\n                score. (voir [documentation](https://gip-inclusion.notion.site/Conception-du-score-de-qualit-17b5f321b60480a1b79bf4a17b4567dd?pvs=4))"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Page_SearchResult_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/doc/frais":{"get":{"tags":["v1 | Documentation"],"summary":"Récupérer le référentiel des frais","operationId":"as_dict_list_api_v1_doc_frais_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/FrameworkValue"},"type":"array","title":"Response As Dict List Api V1 Doc Frais Get"}}}}}}},"/api/v1/doc/modes-accueil":{"get":{"tags":["v1 | Documentation"],"summary":"Récupérer le référentiel des modes d'accueil","operationId":"as_dict_list_api_v1_doc_modes_accueil_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/FrameworkValue"},"type":"array","title":"Response As Dict List Api V1 Doc Modes Accueil Get"}}}}}}},"/api/v1/doc/modes-mobilisation":{"get":{"tags":["v1 | Documentation"],"summary":"Récupérer le référentiel des modes de mobilisation","operationId":"as_dict_list_api_v1_doc_modes_mobilisation_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/FrameworkValue"},"type":"array","title":"Response As Dict List Api V1 Doc Modes Mobilisation Get"}}}}}}},"/api/v1/doc/personnes-mobilisatrices":{"get":{"tags":["v1 | Documentation"],"summary":"Récupérer le référentiel des personnes mobilisatrices","operationId":"as_dict_list_api_v1_doc_personnes_mobilisatrices_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/FrameworkValue"},"type":"array","title":"Response As Dict List Api V1 Doc Personnes Mobilisatrices Get"}}}}}}},"/api/v1/doc/publics":{"get":{"tags":["v1 | Documentation"],"summary":"Récupérer le référentiel des publics","operationId":"as_dict_list_api_v1_doc_publics_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/FrameworkValue"},"type":"array","title":"Response As Dict List Api V1 Doc Publics Get"}}}}}}},"/api/v1/doc/reseaux-porteurs":{"get":{"tags":["v1 | Documentation"],"summary":"Récupérer le référentiel des réseaux porteurs","operationId":"as_dict_list_api_v1_doc_reseaux_porteurs_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/FrameworkValue"},"type":"array","title":"Response As Dict List Api V1 Doc Reseaux Porteurs Get"}}}}}}},"/api/v1/doc/thematiques":{"get":{"tags":["v1 | Documentation"],"summary":"Récupérer le référentiel des thématiques","operationId":"as_dict_list_api_v1_doc_thematiques_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/FrameworkValue"},"type":"array","title":"Response As Dict List Api V1 Doc Thematiques Get"}}}}}}},"/api/v1/doc/types-services":{"get":{"tags":["v1 | Documentation"],"summary":"Récupérer le référentiel des types de services","operationId":"as_dict_list_api_v1_doc_types_services_get","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/FrameworkValue"},"type":"array","title":"Response As Dict List Api V1 Doc Types Services Get"}}}}}}}},"components":{"schemas":{"BaseStructure":{"properties":{"source":{"type":"string","title":"Source","description":"Identifiant du producteur original de la donnée.","examples":["emplois-de-linclusion","france-travail","dora"]},"id":{"type":"string","title":"Id","description":"Identifiant unique de la structure, obtenu par une combinaison de l’identifiant producteur et de l’identifiant de la structure (fourni par le producteur).","examples":["emplois-de-linclusion--17","france-travail--ccas-provence-alpes-cote-dazur-2024-01-01","dora--AidantsConnect:2024-47BXY"]},"nom":{"type":"string","maxLength":150,"minLength":3,"title":"Nom","description":"Nom de la structure.\n\nChaîne de caractères entre 3 et 150 caractères, ne se terminant pas par un point.","examples":["Centre social Le Tournesol"]},"date_maj":{"type":"string","format":"date","title":"Date de dernière modification","description":"Date de dernière modification de la structure chez le producteur de données.","examples":["2025-02-14"]},"description":{"anyOf":[{"type":"string","maxLength":10000,"minLength":5},{"type":"null"}],"title":"Description","description":"Description de la structure.","examples":["L’association 3027 offre un accès gratuit aux arts, à la culture et au sport pour toutes et tous sans distinction et en priorité aux personnes en situation de précarité et d’isolement."]},"lien_source":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Lien Source","description":"Lien pour accéder à la structure sur le site web du producteur.","examples":["https://dora.inclusion.beta.gouv.fr/structures/ass-pour-droit-a-l-i-nhes"]},"siret":{"anyOf":[{"type":"string","maxLength":14,"minLength":14,"pattern":"^\\d{14}$"},{"type":"null"}],"title":"Numéro SIRET","description":"Un numéro SIRET associé à la structure.\n\nLorsque la structure correspond à un établissement dans la base sirene, le numéro SIRET doit être celui de cet établissement.\n\nSi la structure ne correspond pas strictement à un établissement de la base sirene, le numéro SIRET du siège social peut être utilisé.\n\ndata·inclusion vérifie régulièrement la validité des numéros SIRET fournis. Les SIRETs inconnus sont retirés. Lorsque l’établissement associé à un SIRET a fait l’objet d’une succession (d’après la base sirene), data·inclusion remplace ce SIRET par celui de l’établissement successeur. Lorsque l’établissement associé est déclaré fermé et sans successeur, data·inclusion retire la structure.","examples":["13003013300016"]},"commune":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Commune"},"code_postal":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\d{5}$"},{"type":"null"}],"title":"Code Postal"},"code_insee":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\w{5}$"},{"type":"null"}],"title":"Code Insee"},"adresse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Adresse"},"complement_adresse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Complement Adresse"},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Longitude"},"latitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latitude"},"telephone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Téléphone","description":"Numéro de téléphone à utiliser pour obtenir des informations complémentaires sur la structure.\n\nChaîne de caractères contenant un seul numéro de téléphone, de préfèrence au format E.164.","examples":["+33123456789"]},"courriel":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Courriel","description":"Courriel à utiliser pour obtenir des informations complémentaires sur la structure.\n\nDoit suivre le format de la RFC 5322.","examples":["exemple@inclusion.gouv.fr"]},"site_web":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Site Web"},"horaires_accueil":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Horaires d’accueil du public","description":"Horaires d’accueil du public par la structure.\n\nUn service peut avoir un horaire d’accueil différent. Se référer aux horaires des services.\n\nDoit être au format [OpenStreetMap Opening Hours](https://wiki.openstreetmap.org/wiki/FR:Key:opening_hours).\n\n[Outil d’aide à la saisie](https://projets.pavie.info/yohours/).","examples":["Mo-Fr 08:30-12:30; PH off"]},"accessibilite_lieu":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Accessibilité du lieu","description":"Lien vers la page Accesslibre référençant le niveau d’accessibilité de la structure.\n\nLe format attendu est donc un lien vers [Accesslibre](https://acceslibre.beta.gouv.fr/).","examples":["https://acceslibre.beta.gouv.fr/app/17-la-greve-sur-mignon/a/mairie/erp/mairie-la-greve-sur-mignon/"]},"reseaux_porteurs":{"anyOf":[{"items":{"$ref":"#/components/schemas/ReseauPorteur"},"type":"array","uniqueItems":true},{"type":"null"}],"title":"Réseaux porteurs","description":"Réseaux, organisations ou administrations portant la structure.","examples":[["mission-locale"]]},"adresse_certifiee":{"type":"boolean","title":"Adresse Certifiee","description":"Indique si l'adresse  de la structure a été certifiée par géocodage.\n\nLorsque `true`, les champs d'adresse (adresse, commune,\ncode_postal, code_insee, longitude, latitude) proviennent\ndu résultat de géocodage via la BAN (Base Adresse Nationale)\n\nLorsque `false`, les champs d'adresse contiennent les valeurs\noriginales fournies par le producteur de données.\n"}},"type":"object","required":["source","id","nom","date_maj","adresse_certifiee"],"title":"BaseStructure"},"Categorie":{"type":"string","enum":["choisir-un-metier","creer-une-entreprise","difficultes-administratives-ou-juridiques","difficultes-financieres","equipement-et-alimentation","famille","lecture-ecriture-calcul","logement-hebergement","mobilite","numerique","preparer-sa-candidature","remobilisation","sante","se-former","souvrir-a-linternational","trouver-un-emploi"],"title":"Categorie","description":"Catégories de thématiques"},"DepartementCodeEnum":{"type":"string","enum":["01","02","03","04","06","07","08","09","10","11","12","67","13","14","15","17","16","18","19","2A","21","22","23","79","24","25","26","91","28","27","29","30","32","33","971","973","68","2B","31","43","52","70","74","87","05","65","92","34","35","37","36","38","39","974","40","41","44","42","45","47","46","48","49","50","51","972","53","976","54","55","56","57","58","59","60","61","75","62","63","64","66","69","71","72","73","77","76","93","80","82","81","90","95","94","83","84","85","86","88","89","78"],"title":"DepartementCodeEnum"},"DepartementSlugEnum":{"type":"string","enum":["ain","aisne","allier","alpes-de-haute-provence","alpes-maritimes","ardeche","ardennes","ariege","aube","aude","aveyron","bas-rhin","bouches-du-rhone","calvados","cantal","charente-maritime","charente","cher","correze","corse-du-sud","cote-d-or","cotes-d-armor","creuse","deux-sevres","dordogne","doubs","drome","essonne","eure-et-loir","eure","finistere","gard","gers","gironde","guadeloupe","guyane","haut-rhin","haute-corse","haute-garonne","haute-loire","haute-marne","haute-saone","haute-savoie","haute-vienne","hautes-alpes","hautes-pyrenees","hauts-de-seine","herault","ille-et-vilaine","indre-et-loire","indre","isere","jura","la-reunion","landes","loir-et-cher","loire-atlantique","loire","loiret","lot-et-garonne","lot","lozere","maine-et-loire","manche","marne","martinique","mayenne","mayotte","meurthe-et-moselle","meuse","morbihan","moselle","nievre","nord","oise","orne","paris","pas-de-calais","puy-de-dome","pyrenees-atlantiques","pyrenees-orientales","rhone","saone-et-loire","sarthe","savoie","seine-et-marne","seine-maritime","seine-saint-denis","somme","tarn-et-garonne","tarn","territoire-de-belfort","val-d-oise","val-de-marne","var","vaucluse","vendee","vienne","vosges","yonne","yvelines"],"title":"DepartementSlugEnum"},"DetailedService":{"properties":{"source":{"type":"string","title":"Source","description":"Identifiant du producteur original de la donnée.","examples":["emplois-de-linclusion","france-travail","dora"]},"structure_id":{"type":"string","title":"ID structure","description":"Identifiant unique de la structure rattachée au service.","examples":["dora--42","cd35--mjc-13-grandjour"]},"id":{"type":"string","title":"Id","description":"Identifiant unique du service, obtenu par une combinaison de l’identifiant du producteur et de l’identifiant du service (fourni par le producteur).","examples":["emplois-de-linclusion--17","france-travail--ccas-provence-alpes-cote-dazur-2024-01-01","dora--AidantsConnect:2024-47BXY"]},"nom":{"type":"string","maxLength":150,"minLength":3,"title":"Nom","description":"Nom du service.\n\nChaîne de caractères entre 3 et 150 caractères. Idéalement ne se termine pas par un point (sauf \"etc.\").","examples":["Atelier insertion et posture professionnelle"]},"description":{"type":"string","maxLength":10000,"minLength":5,"title":"Description","description":"Description du service.\n\nIdéalement entre 200 et 2000 caractères. Privilégier des phrases courtes et un langage simple.","examples":["Cet atelier-conseil vous permet d’identifier les compétences à développer pour atteindre vos objectifs d’évolution professionnelle et à découvrir les différentes modalités de formation.  Durée d’une journée et inscription via votre espace France Travail."]},"lien_source":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Lien Source","description":"Lien pour accéder au service sur le site web du producteur.","examples":["https://dora.inclusion.beta.gouv.fr/services/ass-pour-droit-a-l-i-nhes"]},"date_maj":{"type":"string","format":"date","title":"Date de dernière modification","description":"Date de dernière modification du service chez le producteur de données.","examples":["2025-02-14"]},"type":{"anyOf":[{"$ref":"#/components/schemas/TypeService"},{"type":"null"}],"description":"Type de service.","examples":["accompagnement"]},"thematiques":{"anyOf":[{"items":{"$ref":"#/components/schemas/Thematique"},"type":"array","uniqueItems":true},{"type":"null"}],"title":"Thematiques","description":"Thématiques adressées par le service.","examples":[["numerique--acquerir-un-equipement"],["sante--constituer-un-dossier-mdph-invalidite","logement-hebergement--se-maintenir-dans-le-logement"]]},"frais":{"anyOf":[{"$ref":"#/components/schemas/Frais"},{"type":"null"}],"description":"Indique si l’accès au service est payant ou gratuit.\n\nSi le service comporte des frais, ceux-ci devraient être précisés dans le champ `frais_precisions`.","examples":["gratuit","payant"]},"frais_precisions":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Précisions sur les frais","description":"Précisions sur les éventuels frais pour accéder au service.","examples":["10€ pour l’adhésion annuelle","Tarif réduit pour les bénéficiaires du RSA"]},"publics":{"anyOf":[{"items":{"$ref":"#/components/schemas/Public"},"type":"array","minItems":1,"uniqueItems":true},{"type":"null"}],"title":"Publics","description":"Publics visés par le service.\n\nUn bénéficiaire est éligible s’il appartient à (au moins) un des publics spécifiés.\n\nLes services sans publics spécifiques doivent contenir uniquement la valeur `tous-publics`. Celle-ci ne peut pas être utilisée avec d’autres valeurs.\n\nDes informations complémentaires peuvent être précisées dans le champ `publics_precisions`.","examples":[["femmes"],["residents-qpv-frr"],["tous-publics"]]},"publics_precisions":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Précisions sur les publics","description":"Précisions sur les publics visés par le service.","examples":["Le jeune entre 15 et 18 ans."]},"conditions_acces":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Conditions d’accès","description":"Conditions d’accès au service.\n\nIl peut s’agir de prérequis ou de justificatifs à présenter.","examples":["Maîtrise de la langue française à l’oral et à l’écrit"]},"commune":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Commune"},"code_postal":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\d{5}$"},{"type":"null"}],"title":"Code Postal"},"code_insee":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\w{5}$"},{"type":"null"}],"title":"Code Insee"},"adresse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Adresse"},"complement_adresse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Complement Adresse"},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Longitude"},"latitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latitude"},"telephone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Téléphone","description":"Numéro de téléphone à utiliser pour obtenir des informations complémentaires sur le service. Si le mode de mobilisation est `telephoner`, peut être utilisé pour mobiliser le service.\n\nChaîne de caractères contenant un seul numéro de téléphone, de préférence au format E.164.","examples":["+33123456789"]},"courriel":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Courriel","description":"Courriel à utiliser pour obtenir des informations complémentaires sur le service. Si le mode de mobilisation est `envoyer-un-email`, peut être utilisé pour mobiliser le service.\n\nDoit suivre le format de la RFC 5322. Vérification de l’existence du destinataire (envoi d’un courrier de notification)\n\nSi non conforme ou destinataire inexistant, suppression de la valeur.","examples":["exemple@inclusion.gouv.fr"]},"modes_accueil":{"anyOf":[{"items":{"$ref":"#/components/schemas/ModeAccueil"},"type":"array","uniqueItems":true},{"type":"null"}],"title":"Modes Accueil"},"zone_eligibilite":{"anyOf":[{"items":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\w{5}$"},{"type":"string","maxLength":3,"minLength":2,"pattern":"^\\w{2,3}$"},{"type":"string","maxLength":9,"minLength":9,"pattern":"^\\d{9}$"},{"type":"string","maxLength":5,"minLength":5,"pattern":"^99[0-5]\\d{2}$"},{"type":"string","const":"france"}]},"type":"array","minItems":1},{"type":"null"}],"title":"Zone d’éligibilité","description":"Zone géographique d’éligibilité du service.\n\nContient une liste de codes issus du [Code Officiel Géographique](https://www.insee.fr/fr/information/2560452) maintenu par l’INSEE.\n\nChaque code dans cette liste peut être un code commune, un code département, un code EPCI ou un code pays.\n\nSi le service est éligible à l’ensemble d’une région, lister les codes des departements de cette région.\n\nSi le service est éligible sur l’ensemble du territoire national, utiliser le code `france` (France) ou le code pays `99100`.\n\ndata·inclusion vérifie la validité des codes fournis. Les codes invalides sont supprimés de la liste.\n\n[Outil de recherche des codes](https://www.insee.fr/fr/recherche/recherche-geographique)","examples":[["75056"],["2A","2B"],["200093201"],["2A","2B","200093201"],["france"]]},"contact_nom_prenom":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Contact Nom Prenom"},"lien_mobilisation":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Lien Mobilisation","description":"Lien pour accéder ou mobiliser l’offre de service.","examples":["https://www.actionlogement.fr/demande-cfi"]},"modes_mobilisation":{"anyOf":[{"items":{"$ref":"#/components/schemas/ModeMobilisation"},"type":"array","minItems":1,"uniqueItems":true},{"type":"null"}],"title":"Modes Mobilisation","description":"Modes de mobilisation de l’offre de service.","examples":[["envoyer-un-courriel"]]},"mobilisable_par":{"anyOf":[{"items":{"$ref":"#/components/schemas/PersonneMobilisatrice"},"type":"array","minItems":1,"uniqueItems":true},{"type":"null"}],"title":"Mobilisable Par","description":"Indique qui peut mobiliser le service : usagers, professionnels ou les deux.","examples":[["professionnels"],["usagers"]]},"mobilisation_precisions":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mobilisation Precisions","description":"Précisions sur les modes de mobilisation du service.","examples":["La demande est à faire depuis l’espace personnel du demandeur d’emploi, rubrique « mes aides », formulaire spécifique « Aide à la mobilité »."]},"volume_horaire_hebdomadaire":{"anyOf":[{"type":"number","minimum":0.0},{"type":"null"}],"title":"Volume Horaire Hebdomadaire","description":"Durée du service en heures sur une semaine.\n\nL’absence de valeur signifie que le service n’est pas concerné (exemple aide financière) ou que l’information n’est pas disponible.\n\nChamp utilisé dans le cadre des 15h-20h d’activité hebdomadaire des BRSA.","examples":[1]},"nombre_semaines":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Nombre Semaines","description":"Nombre de semaines sur lequel dure le service.\n\nNe peut pas être inférieur à 1. L’absence de valeur signifie que le service n’est pas concerné (exemple aide financière) ou que l’information n’est pas disponible.\n\nChamp utilisé dans le cadre des 15h-20h d’activité hebdomadaire des BRSA.","examples":[3]},"horaires_accueil":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Horaires d’accueil du public","description":"Horaires d’accueil du public pour ce service.\n\nSi le champ n’est pas renseigné, les horaires d’accueil de la structure peuvent être utilisés.\n\nDoit être au format [OpenStreetMap Opening Hours](https://wiki.openstreetmap.org/wiki/FR:Key:opening_hours).\n\n[Outil d’aide à la saisie](https://projets.pavie.info/yohours/).","examples":["Mo-Fr 08:30-12:30; PH off"]},"adresse_certifiee":{"type":"boolean","title":"Adresse Certifiee","description":"Indique si l'adresse  du service a été certifiée par géocodage.\n\nLorsque `true`, les champs d'adresse (adresse, commune,\ncode_postal, code_insee, longitude, latitude) proviennent\ndu résultat de géocodage via la BAN (Base Adresse Nationale)\n\nLorsque `false`, les champs d'adresse contiennent les valeurs\noriginales fournies par le producteur de données.\n"},"score_qualite":{"type":"number","maximum":1.0,"minimum":0.0,"title":"Score Qualite","description":"Score de qualité du service, défini et calculé par data·inclusion.\n"},"structure":{"$ref":"#/components/schemas/BaseStructure"}},"type":"object","required":["source","structure_id","id","nom","description","date_maj","adresse_certifiee","score_qualite","structure"],"title":"DetailedService"},"DetailedStructure":{"properties":{"source":{"type":"string","title":"Source","description":"Identifiant du producteur original de la donnée.","examples":["emplois-de-linclusion","france-travail","dora"]},"id":{"type":"string","title":"Id","description":"Identifiant unique de la structure, obtenu par une combinaison de l’identifiant producteur et de l’identifiant de la structure (fourni par le producteur).","examples":["emplois-de-linclusion--17","france-travail--ccas-provence-alpes-cote-dazur-2024-01-01","dora--AidantsConnect:2024-47BXY"]},"nom":{"type":"string","maxLength":150,"minLength":3,"title":"Nom","description":"Nom de la structure.\n\nChaîne de caractères entre 3 et 150 caractères, ne se terminant pas par un point.","examples":["Centre social Le Tournesol"]},"date_maj":{"type":"string","format":"date","title":"Date de dernière modification","description":"Date de dernière modification de la structure chez le producteur de données.","examples":["2025-02-14"]},"description":{"anyOf":[{"type":"string","maxLength":10000,"minLength":5},{"type":"null"}],"title":"Description","description":"Description de la structure.","examples":["L’association 3027 offre un accès gratuit aux arts, à la culture et au sport pour toutes et tous sans distinction et en priorité aux personnes en situation de précarité et d’isolement."]},"lien_source":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Lien Source","description":"Lien pour accéder à la structure sur le site web du producteur.","examples":["https://dora.inclusion.beta.gouv.fr/structures/ass-pour-droit-a-l-i-nhes"]},"siret":{"anyOf":[{"type":"string","maxLength":14,"minLength":14,"pattern":"^\\d{14}$"},{"type":"null"}],"title":"Numéro SIRET","description":"Un numéro SIRET associé à la structure.\n\nLorsque la structure correspond à un établissement dans la base sirene, le numéro SIRET doit être celui de cet établissement.\n\nSi la structure ne correspond pas strictement à un établissement de la base sirene, le numéro SIRET du siège social peut être utilisé.\n\ndata·inclusion vérifie régulièrement la validité des numéros SIRET fournis. Les SIRETs inconnus sont retirés. Lorsque l’établissement associé à un SIRET a fait l’objet d’une succession (d’après la base sirene), data·inclusion remplace ce SIRET par celui de l’établissement successeur. Lorsque l’établissement associé est déclaré fermé et sans successeur, data·inclusion retire la structure.","examples":["13003013300016"]},"commune":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Commune"},"code_postal":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\d{5}$"},{"type":"null"}],"title":"Code Postal"},"code_insee":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\w{5}$"},{"type":"null"}],"title":"Code Insee"},"adresse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Adresse"},"complement_adresse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Complement Adresse"},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Longitude"},"latitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latitude"},"telephone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Téléphone","description":"Numéro de téléphone à utiliser pour obtenir des informations complémentaires sur la structure.\n\nChaîne de caractères contenant un seul numéro de téléphone, de préfèrence au format E.164.","examples":["+33123456789"]},"courriel":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Courriel","description":"Courriel à utiliser pour obtenir des informations complémentaires sur la structure.\n\nDoit suivre le format de la RFC 5322.","examples":["exemple@inclusion.gouv.fr"]},"site_web":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Site Web"},"horaires_accueil":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Horaires d’accueil du public","description":"Horaires d’accueil du public par la structure.\n\nUn service peut avoir un horaire d’accueil différent. Se référer aux horaires des services.\n\nDoit être au format [OpenStreetMap Opening Hours](https://wiki.openstreetmap.org/wiki/FR:Key:opening_hours).\n\n[Outil d’aide à la saisie](https://projets.pavie.info/yohours/).","examples":["Mo-Fr 08:30-12:30; PH off"]},"accessibilite_lieu":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Accessibilité du lieu","description":"Lien vers la page Accesslibre référençant le niveau d’accessibilité de la structure.\n\nLe format attendu est donc un lien vers [Accesslibre](https://acceslibre.beta.gouv.fr/).","examples":["https://acceslibre.beta.gouv.fr/app/17-la-greve-sur-mignon/a/mairie/erp/mairie-la-greve-sur-mignon/"]},"reseaux_porteurs":{"anyOf":[{"items":{"$ref":"#/components/schemas/ReseauPorteur"},"type":"array","uniqueItems":true},{"type":"null"}],"title":"Réseaux porteurs","description":"Réseaux, organisations ou administrations portant la structure.","examples":[["mission-locale"]]},"adresse_certifiee":{"type":"boolean","title":"Adresse Certifiee","description":"Indique si l'adresse  de la structure a été certifiée par géocodage.\n\nLorsque `true`, les champs d'adresse (adresse, commune,\ncode_postal, code_insee, longitude, latitude) proviennent\ndu résultat de géocodage via la BAN (Base Adresse Nationale)\n\nLorsque `false`, les champs d'adresse contiennent les valeurs\noriginales fournies par le producteur de données.\n"},"score_qualite":{"type":"number","maximum":1.0,"minimum":0.0,"title":"Score Qualite","description":"[BETA] Score de qualité de la structure. Défini comme la moyenne\ndes scores de qualité des services associés à la structure, ou 0\nsi aucun service n'est associé.\n"},"doublons":{"items":{"$ref":"#/components/schemas/Structure"},"type":"array","title":"Doublons","description":"Doublons connus de la structure"},"services":{"items":{"$ref":"#/components/schemas/Service"},"type":"array","title":"Services"}},"type":"object","required":["source","id","nom","date_maj","adresse_certifiee","score_qualite","doublons","services"],"title":"DetailedStructure"},"Frais":{"type":"string","enum":["gratuit","payant"],"title":"Frais","description":"Frais"},"FrameworkValue":{"properties":{"value":{"type":"string","title":"Value"},"label":{"type":"string","title":"Label"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"}},"type":"object","required":["value","label"],"title":"FrameworkValue","description":"Schema for members of a domain taxonomy"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"ListedStructure":{"properties":{"source":{"type":"string","title":"Source","description":"Identifiant du producteur original de la donnée.","examples":["emplois-de-linclusion","france-travail","dora"]},"id":{"type":"string","title":"Id","description":"Identifiant unique de la structure, obtenu par une combinaison de l’identifiant producteur et de l’identifiant de la structure (fourni par le producteur).","examples":["emplois-de-linclusion--17","france-travail--ccas-provence-alpes-cote-dazur-2024-01-01","dora--AidantsConnect:2024-47BXY"]},"nom":{"type":"string","maxLength":150,"minLength":3,"title":"Nom","description":"Nom de la structure.\n\nChaîne de caractères entre 3 et 150 caractères, ne se terminant pas par un point.","examples":["Centre social Le Tournesol"]},"date_maj":{"type":"string","format":"date","title":"Date de dernière modification","description":"Date de dernière modification de la structure chez le producteur de données.","examples":["2025-02-14"]},"description":{"anyOf":[{"type":"string","maxLength":10000,"minLength":5},{"type":"null"}],"title":"Description","description":"Description de la structure.","examples":["L’association 3027 offre un accès gratuit aux arts, à la culture et au sport pour toutes et tous sans distinction et en priorité aux personnes en situation de précarité et d’isolement."]},"lien_source":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Lien Source","description":"Lien pour accéder à la structure sur le site web du producteur.","examples":["https://dora.inclusion.beta.gouv.fr/structures/ass-pour-droit-a-l-i-nhes"]},"siret":{"anyOf":[{"type":"string","maxLength":14,"minLength":14,"pattern":"^\\d{14}$"},{"type":"null"}],"title":"Numéro SIRET","description":"Un numéro SIRET associé à la structure.\n\nLorsque la structure correspond à un établissement dans la base sirene, le numéro SIRET doit être celui de cet établissement.\n\nSi la structure ne correspond pas strictement à un établissement de la base sirene, le numéro SIRET du siège social peut être utilisé.\n\ndata·inclusion vérifie régulièrement la validité des numéros SIRET fournis. Les SIRETs inconnus sont retirés. Lorsque l’établissement associé à un SIRET a fait l’objet d’une succession (d’après la base sirene), data·inclusion remplace ce SIRET par celui de l’établissement successeur. Lorsque l’établissement associé est déclaré fermé et sans successeur, data·inclusion retire la structure.","examples":["13003013300016"]},"commune":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Commune"},"code_postal":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\d{5}$"},{"type":"null"}],"title":"Code Postal"},"code_insee":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\w{5}$"},{"type":"null"}],"title":"Code Insee"},"adresse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Adresse"},"complement_adresse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Complement Adresse"},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Longitude"},"latitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latitude"},"telephone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Téléphone","description":"Numéro de téléphone à utiliser pour obtenir des informations complémentaires sur la structure.\n\nChaîne de caractères contenant un seul numéro de téléphone, de préfèrence au format E.164.","examples":["+33123456789"]},"courriel":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Courriel","description":"Courriel à utiliser pour obtenir des informations complémentaires sur la structure.\n\nDoit suivre le format de la RFC 5322.","examples":["exemple@inclusion.gouv.fr"]},"site_web":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Site Web"},"horaires_accueil":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Horaires d’accueil du public","description":"Horaires d’accueil du public par la structure.\n\nUn service peut avoir un horaire d’accueil différent. Se référer aux horaires des services.\n\nDoit être au format [OpenStreetMap Opening Hours](https://wiki.openstreetmap.org/wiki/FR:Key:opening_hours).\n\n[Outil d’aide à la saisie](https://projets.pavie.info/yohours/).","examples":["Mo-Fr 08:30-12:30; PH off"]},"accessibilite_lieu":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Accessibilité du lieu","description":"Lien vers la page Accesslibre référençant le niveau d’accessibilité de la structure.\n\nLe format attendu est donc un lien vers [Accesslibre](https://acceslibre.beta.gouv.fr/).","examples":["https://acceslibre.beta.gouv.fr/app/17-la-greve-sur-mignon/a/mairie/erp/mairie-la-greve-sur-mignon/"]},"reseaux_porteurs":{"anyOf":[{"items":{"$ref":"#/components/schemas/ReseauPorteur"},"type":"array","uniqueItems":true},{"type":"null"}],"title":"Réseaux porteurs","description":"Réseaux, organisations ou administrations portant la structure.","examples":[["mission-locale"]]},"adresse_certifiee":{"type":"boolean","title":"Adresse Certifiee","description":"Indique si l'adresse  de la structure a été certifiée par géocodage.\n\nLorsque `true`, les champs d'adresse (adresse, commune,\ncode_postal, code_insee, longitude, latitude) proviennent\ndu résultat de géocodage via la BAN (Base Adresse Nationale)\n\nLorsque `false`, les champs d'adresse contiennent les valeurs\noriginales fournies par le producteur de données.\n"},"score_qualite":{"type":"number","maximum":1.0,"minimum":0.0,"title":"Score Qualite","description":"[BETA] Score de qualité de la structure. Défini comme la moyenne\ndes scores de qualité des services associés à la structure, ou 0\nsi aucun service n'est associé.\n"},"doublons":{"items":{"$ref":"#/components/schemas/SourceIdDict"},"type":"array","title":"Doublons","description":"Identifiants (source, id) des doublons connus de la structure"}},"type":"object","required":["source","id","nom","date_maj","adresse_certifiee","score_qualite","doublons"],"title":"ListedStructure"},"ModeAccueil":{"type":"string","enum":["a-distance","en-presentiel"],"title":"ModeAccueil","description":"Modes d’accueil"},"ModeMobilisation":{"type":"string","enum":["envoyer-un-courriel","se-presenter","telephoner","utiliser-lien-mobilisation"],"title":"ModeMobilisation","description":"Modes de mobilisation"},"Page_ListedStructure_":{"properties":{"items":{"items":{"$ref":"#/components/schemas/ListedStructure"},"type":"array","title":"Items"},"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"size":{"type":"integer","title":"Size"},"pages":{"type":"integer","title":"Pages"}},"type":"object","required":["items","total","page","size","pages"],"title":"Page[ListedStructure]"},"Page_SearchResult_":{"properties":{"items":{"items":{"$ref":"#/components/schemas/SearchResult"},"type":"array","title":"Items"},"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"size":{"type":"integer","title":"Size"},"pages":{"type":"integer","title":"Pages"}},"type":"object","required":["items","total","page","size","pages"],"title":"Page[SearchResult]"},"Page_ServiceSearchResult_":{"properties":{"items":{"items":{"$ref":"#/components/schemas/ServiceSearchResult"},"type":"array","title":"Items"},"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"size":{"type":"integer","title":"Size"},"pages":{"type":"integer","title":"Pages"}},"type":"object","required":["items","total","page","size","pages"],"title":"Page[ServiceSearchResult]"},"Page_Service_":{"properties":{"items":{"items":{"$ref":"#/components/schemas/Service"},"type":"array","title":"Items"},"total":{"type":"integer","title":"Total"},"page":{"type":"integer","title":"Page"},"size":{"type":"integer","title":"Size"},"pages":{"type":"integer","title":"Pages"}},"type":"object","required":["items","total","page","size","pages"],"title":"Page[Service]"},"PersonneMobilisatrice":{"type":"string","enum":["usagers","professionnels"],"title":"PersonneMobilisatrice","description":"Personnes mobilisatrices"},"Public":{"type":"string","enum":["tous-publics","actifs","beneficiaires-des-minimas-sociaux","demandeurs-emploi","etudiants","familles","femmes","jeunes","personnes-en-situation-de-handicap","personnes-en-situation-durgence","personnes-en-situation-juridique-specifique","personnes-exilees","residents-qpv-frr","seniors"],"title":"Public","description":"Publics"},"RegionCodeEnum":{"type":"string","enum":["84","27","53","24","94","44","01","03","32","11","04","02","06","28","75","76","52","93"],"title":"RegionCodeEnum"},"RegionSlugEnum":{"type":"string","enum":["auvergne-rhone-alpes","bourgogne-franche-comte","bretagne","centre-val-de-loire","corse","grand-est","guadeloupe","guyane","hauts-de-france","ile-de-france","la-reunion","martinique","mayotte","normandie","nouvelle-aquitaine","occitanie","pays-de-la-loire","provence-alpes-cote-d-azur"],"title":"RegionSlugEnum"},"ReseauPorteur":{"type":"string","enum":["60000-rebonds","action-logement","adie","afpa","agefiph","ai","aidants-connect","alliance-villes-emploi","anlci","apprentis-dauteuil","ase","banques-alimentaires","caarud","cada","caf","campus-connecte","cap-emploi-reseau-cheops","cava","ccas-cias","chambres-consulaires","chantier-ecole","chrs","chu","cidff","cmp","cms","cnam","collectif-emploi","communes","coorace","conseillers-numeriques","cpam","cph","creches-avip","crepi","cresus","croix-rouge","csapa","delegataire-conseil-departemental","departements","duo-for-a-job","ecoles-de-la-deuxieme-chance","ea","eatt","egee","emmaus","epide","esat","espaces-publics-numeriques","etcld","fabrique-de-territoire","face","fcsf","federation-professionnelle-femmes","federation-des-acteurs-de-la-solidarite","france-active","france-service","france-travail","french-tech","geiq","grandes-ecoles-du-numerique","huda","hup","inae","initiative-france","konexio","la-cravate-solidaire","la-poste","les-premieres","maisons-de-l-emploi","maison-departementale-de-lautonomie","maisons-des-solidarites","mdph","mission-locale","mjc","mobin","msap","mutualite-sociale-agricole","nqt","pimms-mediation","pjj","plie","points-conseil-budget","points-justice","positive-planet","regions","reseau-app","reseau-bge","reseau-entreprendre","reseau-information-jeunesse","residences-fjt","ressourceries","restos-du-coeur","secours-populaire","ei","aci","etti","eiti","siao","simplon","singa","snc","spip","tous-tes-possibles","unaf","unea","unis-cite","wimoov"],"title":"ReseauPorteur","description":"Réseaux porteurs"},"SearchResult":{"properties":{"service":{"anyOf":[{"$ref":"#/components/schemas/DetailedService"},{"$ref":"#/components/schemas/DetailedStructure"}],"title":"Service"},"distance":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Distance"},"score_recherche":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Score Recherche"}},"type":"object","required":["service"],"title":"SearchResult"},"Service":{"properties":{"source":{"type":"string","title":"Source","description":"Identifiant du producteur original de la donnée.","examples":["emplois-de-linclusion","france-travail","dora"]},"structure_id":{"type":"string","title":"ID structure","description":"Identifiant unique de la structure rattachée au service.","examples":["dora--42","cd35--mjc-13-grandjour"]},"id":{"type":"string","title":"Id","description":"Identifiant unique du service, obtenu par une combinaison de l’identifiant du producteur et de l’identifiant du service (fourni par le producteur).","examples":["emplois-de-linclusion--17","france-travail--ccas-provence-alpes-cote-dazur-2024-01-01","dora--AidantsConnect:2024-47BXY"]},"nom":{"type":"string","maxLength":150,"minLength":3,"title":"Nom","description":"Nom du service.\n\nChaîne de caractères entre 3 et 150 caractères. Idéalement ne se termine pas par un point (sauf \"etc.\").","examples":["Atelier insertion et posture professionnelle"]},"description":{"type":"string","maxLength":10000,"minLength":5,"title":"Description","description":"Description du service.\n\nIdéalement entre 200 et 2000 caractères. Privilégier des phrases courtes et un langage simple.","examples":["Cet atelier-conseil vous permet d’identifier les compétences à développer pour atteindre vos objectifs d’évolution professionnelle et à découvrir les différentes modalités de formation.  Durée d’une journée et inscription via votre espace France Travail."]},"lien_source":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Lien Source","description":"Lien pour accéder au service sur le site web du producteur.","examples":["https://dora.inclusion.beta.gouv.fr/services/ass-pour-droit-a-l-i-nhes"]},"date_maj":{"type":"string","format":"date","title":"Date de dernière modification","description":"Date de dernière modification du service chez le producteur de données.","examples":["2025-02-14"]},"type":{"anyOf":[{"$ref":"#/components/schemas/TypeService"},{"type":"null"}],"description":"Type de service.","examples":["accompagnement"]},"thematiques":{"anyOf":[{"items":{"$ref":"#/components/schemas/Thematique"},"type":"array","uniqueItems":true},{"type":"null"}],"title":"Thematiques","description":"Thématiques adressées par le service.","examples":[["numerique--acquerir-un-equipement"],["sante--constituer-un-dossier-mdph-invalidite","logement-hebergement--se-maintenir-dans-le-logement"]]},"frais":{"anyOf":[{"$ref":"#/components/schemas/Frais"},{"type":"null"}],"description":"Indique si l’accès au service est payant ou gratuit.\n\nSi le service comporte des frais, ceux-ci devraient être précisés dans le champ `frais_precisions`.","examples":["gratuit","payant"]},"frais_precisions":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Précisions sur les frais","description":"Précisions sur les éventuels frais pour accéder au service.","examples":["10€ pour l’adhésion annuelle","Tarif réduit pour les bénéficiaires du RSA"]},"publics":{"anyOf":[{"items":{"$ref":"#/components/schemas/Public"},"type":"array","minItems":1,"uniqueItems":true},{"type":"null"}],"title":"Publics","description":"Publics visés par le service.\n\nUn bénéficiaire est éligible s’il appartient à (au moins) un des publics spécifiés.\n\nLes services sans publics spécifiques doivent contenir uniquement la valeur `tous-publics`. Celle-ci ne peut pas être utilisée avec d’autres valeurs.\n\nDes informations complémentaires peuvent être précisées dans le champ `publics_precisions`.","examples":[["femmes"],["residents-qpv-frr"],["tous-publics"]]},"publics_precisions":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Précisions sur les publics","description":"Précisions sur les publics visés par le service.","examples":["Le jeune entre 15 et 18 ans."]},"conditions_acces":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Conditions d’accès","description":"Conditions d’accès au service.\n\nIl peut s’agir de prérequis ou de justificatifs à présenter.","examples":["Maîtrise de la langue française à l’oral et à l’écrit"]},"commune":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Commune"},"code_postal":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\d{5}$"},{"type":"null"}],"title":"Code Postal"},"code_insee":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\w{5}$"},{"type":"null"}],"title":"Code Insee"},"adresse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Adresse"},"complement_adresse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Complement Adresse"},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Longitude"},"latitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latitude"},"telephone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Téléphone","description":"Numéro de téléphone à utiliser pour obtenir des informations complémentaires sur le service. Si le mode de mobilisation est `telephoner`, peut être utilisé pour mobiliser le service.\n\nChaîne de caractères contenant un seul numéro de téléphone, de préférence au format E.164.","examples":["+33123456789"]},"courriel":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Courriel","description":"Courriel à utiliser pour obtenir des informations complémentaires sur le service. Si le mode de mobilisation est `envoyer-un-email`, peut être utilisé pour mobiliser le service.\n\nDoit suivre le format de la RFC 5322. Vérification de l’existence du destinataire (envoi d’un courrier de notification)\n\nSi non conforme ou destinataire inexistant, suppression de la valeur.","examples":["exemple@inclusion.gouv.fr"]},"modes_accueil":{"anyOf":[{"items":{"$ref":"#/components/schemas/ModeAccueil"},"type":"array","uniqueItems":true},{"type":"null"}],"title":"Modes Accueil"},"zone_eligibilite":{"anyOf":[{"items":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\w{5}$"},{"type":"string","maxLength":3,"minLength":2,"pattern":"^\\w{2,3}$"},{"type":"string","maxLength":9,"minLength":9,"pattern":"^\\d{9}$"},{"type":"string","maxLength":5,"minLength":5,"pattern":"^99[0-5]\\d{2}$"},{"type":"string","const":"france"}]},"type":"array","minItems":1},{"type":"null"}],"title":"Zone d’éligibilité","description":"Zone géographique d’éligibilité du service.\n\nContient une liste de codes issus du [Code Officiel Géographique](https://www.insee.fr/fr/information/2560452) maintenu par l’INSEE.\n\nChaque code dans cette liste peut être un code commune, un code département, un code EPCI ou un code pays.\n\nSi le service est éligible à l’ensemble d’une région, lister les codes des departements de cette région.\n\nSi le service est éligible sur l’ensemble du territoire national, utiliser le code `france` (France) ou le code pays `99100`.\n\ndata·inclusion vérifie la validité des codes fournis. Les codes invalides sont supprimés de la liste.\n\n[Outil de recherche des codes](https://www.insee.fr/fr/recherche/recherche-geographique)","examples":[["75056"],["2A","2B"],["200093201"],["2A","2B","200093201"],["france"]]},"contact_nom_prenom":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Contact Nom Prenom"},"lien_mobilisation":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Lien Mobilisation","description":"Lien pour accéder ou mobiliser l’offre de service.","examples":["https://www.actionlogement.fr/demande-cfi"]},"modes_mobilisation":{"anyOf":[{"items":{"$ref":"#/components/schemas/ModeMobilisation"},"type":"array","minItems":1,"uniqueItems":true},{"type":"null"}],"title":"Modes Mobilisation","description":"Modes de mobilisation de l’offre de service.","examples":[["envoyer-un-courriel"]]},"mobilisable_par":{"anyOf":[{"items":{"$ref":"#/components/schemas/PersonneMobilisatrice"},"type":"array","minItems":1,"uniqueItems":true},{"type":"null"}],"title":"Mobilisable Par","description":"Indique qui peut mobiliser le service : usagers, professionnels ou les deux.","examples":[["professionnels"],["usagers"]]},"mobilisation_precisions":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Mobilisation Precisions","description":"Précisions sur les modes de mobilisation du service.","examples":["La demande est à faire depuis l’espace personnel du demandeur d’emploi, rubrique « mes aides », formulaire spécifique « Aide à la mobilité »."]},"volume_horaire_hebdomadaire":{"anyOf":[{"type":"number","minimum":0.0},{"type":"null"}],"title":"Volume Horaire Hebdomadaire","description":"Durée du service en heures sur une semaine.\n\nL’absence de valeur signifie que le service n’est pas concerné (exemple aide financière) ou que l’information n’est pas disponible.\n\nChamp utilisé dans le cadre des 15h-20h d’activité hebdomadaire des BRSA.","examples":[1]},"nombre_semaines":{"anyOf":[{"type":"integer","minimum":1.0},{"type":"null"}],"title":"Nombre Semaines","description":"Nombre de semaines sur lequel dure le service.\n\nNe peut pas être inférieur à 1. L’absence de valeur signifie que le service n’est pas concerné (exemple aide financière) ou que l’information n’est pas disponible.\n\nChamp utilisé dans le cadre des 15h-20h d’activité hebdomadaire des BRSA.","examples":[3]},"horaires_accueil":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Horaires d’accueil du public","description":"Horaires d’accueil du public pour ce service.\n\nSi le champ n’est pas renseigné, les horaires d’accueil de la structure peuvent être utilisés.\n\nDoit être au format [OpenStreetMap Opening Hours](https://wiki.openstreetmap.org/wiki/FR:Key:opening_hours).\n\n[Outil d’aide à la saisie](https://projets.pavie.info/yohours/).","examples":["Mo-Fr 08:30-12:30; PH off"]},"adresse_certifiee":{"type":"boolean","title":"Adresse Certifiee","description":"Indique si l'adresse  du service a été certifiée par géocodage.\n\nLorsque `true`, les champs d'adresse (adresse, commune,\ncode_postal, code_insee, longitude, latitude) proviennent\ndu résultat de géocodage via la BAN (Base Adresse Nationale)\n\nLorsque `false`, les champs d'adresse contiennent les valeurs\noriginales fournies par le producteur de données.\n"},"score_qualite":{"type":"number","maximum":1.0,"minimum":0.0,"title":"Score Qualite","description":"Score de qualité du service, défini et calculé par data·inclusion.\n"}},"type":"object","required":["source","structure_id","id","nom","description","date_maj","adresse_certifiee","score_qualite"],"title":"Service"},"ServiceSearchResult":{"properties":{"service":{"$ref":"#/components/schemas/DetailedService"},"distance":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Distance"}},"type":"object","required":["service"],"title":"ServiceSearchResult"},"Source":{"properties":{"slug":{"type":"string","title":"Slug"},"nom":{"type":"string","title":"Nom"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"}},"type":"object","required":["slug","nom","description"],"title":"Source"},"SourceIdDict":{"properties":{"source":{"type":"string","title":"Source"},"id":{"type":"string","title":"Id"}},"type":"object","required":["source","id"],"title":"SourceIdDict"},"Structure":{"properties":{"source":{"type":"string","title":"Source","description":"Identifiant du producteur original de la donnée.","examples":["emplois-de-linclusion","france-travail","dora"]},"id":{"type":"string","title":"Id","description":"Identifiant unique de la structure, obtenu par une combinaison de l’identifiant producteur et de l’identifiant de la structure (fourni par le producteur).","examples":["emplois-de-linclusion--17","france-travail--ccas-provence-alpes-cote-dazur-2024-01-01","dora--AidantsConnect:2024-47BXY"]},"nom":{"type":"string","maxLength":150,"minLength":3,"title":"Nom","description":"Nom de la structure.\n\nChaîne de caractères entre 3 et 150 caractères, ne se terminant pas par un point.","examples":["Centre social Le Tournesol"]},"date_maj":{"type":"string","format":"date","title":"Date de dernière modification","description":"Date de dernière modification de la structure chez le producteur de données.","examples":["2025-02-14"]},"description":{"anyOf":[{"type":"string","maxLength":10000,"minLength":5},{"type":"null"}],"title":"Description","description":"Description de la structure.","examples":["L’association 3027 offre un accès gratuit aux arts, à la culture et au sport pour toutes et tous sans distinction et en priorité aux personnes en situation de précarité et d’isolement."]},"lien_source":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Lien Source","description":"Lien pour accéder à la structure sur le site web du producteur.","examples":["https://dora.inclusion.beta.gouv.fr/structures/ass-pour-droit-a-l-i-nhes"]},"siret":{"anyOf":[{"type":"string","maxLength":14,"minLength":14,"pattern":"^\\d{14}$"},{"type":"null"}],"title":"Numéro SIRET","description":"Un numéro SIRET associé à la structure.\n\nLorsque la structure correspond à un établissement dans la base sirene, le numéro SIRET doit être celui de cet établissement.\n\nSi la structure ne correspond pas strictement à un établissement de la base sirene, le numéro SIRET du siège social peut être utilisé.\n\ndata·inclusion vérifie régulièrement la validité des numéros SIRET fournis. Les SIRETs inconnus sont retirés. Lorsque l’établissement associé à un SIRET a fait l’objet d’une succession (d’après la base sirene), data·inclusion remplace ce SIRET par celui de l’établissement successeur. Lorsque l’établissement associé est déclaré fermé et sans successeur, data·inclusion retire la structure.","examples":["13003013300016"]},"commune":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Commune"},"code_postal":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\d{5}$"},{"type":"null"}],"title":"Code Postal"},"code_insee":{"anyOf":[{"type":"string","maxLength":5,"minLength":5,"pattern":"^\\w{5}$"},{"type":"null"}],"title":"Code Insee"},"adresse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Adresse"},"complement_adresse":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Complement Adresse"},"longitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Longitude"},"latitude":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Latitude"},"telephone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Téléphone","description":"Numéro de téléphone à utiliser pour obtenir des informations complémentaires sur la structure.\n\nChaîne de caractères contenant un seul numéro de téléphone, de préfèrence au format E.164.","examples":["+33123456789"]},"courriel":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Courriel","description":"Courriel à utiliser pour obtenir des informations complémentaires sur la structure.\n\nDoit suivre le format de la RFC 5322.","examples":["exemple@inclusion.gouv.fr"]},"site_web":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Site Web"},"horaires_accueil":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Horaires d’accueil du public","description":"Horaires d’accueil du public par la structure.\n\nUn service peut avoir un horaire d’accueil différent. Se référer aux horaires des services.\n\nDoit être au format [OpenStreetMap Opening Hours](https://wiki.openstreetmap.org/wiki/FR:Key:opening_hours).\n\n[Outil d’aide à la saisie](https://projets.pavie.info/yohours/).","examples":["Mo-Fr 08:30-12:30; PH off"]},"accessibilite_lieu":{"anyOf":[{"type":"string","maxLength":2083,"minLength":1,"format":"uri"},{"type":"null"}],"title":"Accessibilité du lieu","description":"Lien vers la page Accesslibre référençant le niveau d’accessibilité de la structure.\n\nLe format attendu est donc un lien vers [Accesslibre](https://acceslibre.beta.gouv.fr/).","examples":["https://acceslibre.beta.gouv.fr/app/17-la-greve-sur-mignon/a/mairie/erp/mairie-la-greve-sur-mignon/"]},"reseaux_porteurs":{"anyOf":[{"items":{"$ref":"#/components/schemas/ReseauPorteur"},"type":"array","uniqueItems":true},{"type":"null"}],"title":"Réseaux porteurs","description":"Réseaux, organisations ou administrations portant la structure.","examples":[["mission-locale"]]}},"type":"object","required":["source","id","nom","date_maj"],"title":"Structure"},"Thematique":{"type":"string","enum":["choisir-un-metier--confirmer-son-choix-de-metier","choisir-un-metier--connaitre-les-opportunites-demploi","choisir-un-metier--decouvrir-un-metier-ou-un-secteur-dactivite","choisir-un-metier--identifier-ses-points-forts-et-ses-competences","creer-une-entreprise--definir-son-projet-de-creation-dentreprise","creer-une-entreprise--developper-son-entreprise","creer-une-entreprise--structurer-son-projet-de-creation-dentreprise","difficultes-administratives-ou-juridiques--accompagnement-aux-demarches-administratives","difficultes-administratives-ou-juridiques--accompagnement-pour-lacces-a-la-citoyennete","difficultes-administratives-ou-juridiques--accompagnement-pour-lacces-aux-droits","difficultes-administratives-ou-juridiques--beneficier-dune-mesure-daccompagnement-adapte","difficultes-administratives-ou-juridiques--connaitre-ses-droits-face-a-une-discrimination","difficultes-administratives-ou-juridiques--prendre-en-compte-une-problematique-judiciaire","difficultes-financieres--acquerir-une-autonomie-budgetaire","difficultes-financieres--ameliorer-sa-gestion-budgetaire","difficultes-financieres--mettre-en-place-une-mesure-de-protection-financiere","difficultes-financieres--prevenir-une-degradation-de-la-situation-financiere","difficultes-financieres--situation-dendettement-surendettement","equipement-et-alimentation--aide-menagere","equipement-et-alimentation--alimentation","equipement-et-alimentation--electromenager","equipement-et-alimentation--habillement","famille--garde-denfants","famille--prise-en-charge-personne-dependante","famille--soutien-a-la-parentalite-et-a-leducation","famille--soutien-aidants","famille--surmonter-conflits-separation-violence","lecture-ecriture-calcul--maitriser-le-calcul","lecture-ecriture-calcul--maitriser-le-francais","logement-hebergement--acheter-un-logement","logement-hebergement--changer-de-logement","logement-hebergement--louer-un-logement","logement-hebergement--rechercher-une-solution-dhebergement-temporaire","logement-hebergement--reduire-les-impayes-de-loyer","logement-hebergement--se-maintenir-dans-le-logement","logement-hebergement--sinformer-sur-les-demarches-liees-a-lacces-au-logement","mobilite--acceder-a-un-vehicule","mobilite--entretenir-reparer-son-vehicule","mobilite--etre-accompagne-dans-son-parcours-mobilite","mobilite--financer-ma-mobilite","mobilite--preparer-un-permis","mobilite--mobilite-douce-partagee-collective","numerique--acceder-a-des-services-en-ligne","numerique--acceder-a-une-connexion-internet","numerique--acquerir-un-equipement","numerique--maitriser-les-fondamentaux-du-numerique","preparer-sa-candidature--developper-son-reseau","preparer-sa-candidature--organiser-ses-demarches-de-recherche-demploi","preparer-sa-candidature--realiser-un-cv-et-ou-une-lettre-de-motivation","preparer-sa-candidature--valoriser-ses-competences","remobilisation--activites-sportives-et-culturelles","remobilisation--benevolat-action-citoyenne","remobilisation--bien-etre-confiance-en-soi","remobilisation--lien-social","sante--acces-aux-soins","sante--addictions","sante--constituer-un-dossier-mdph-invalidite","sante--sante-mentale","sante--sante-sexuelle","se-former--monter-son-dossier-de-formation","se-former--trouver-sa-formation","souvrir-a-linternational--connaitre-les-opportunites-demploi-a-letranger","souvrir-a-linternational--sinformer-sur-les-aides-pour-travailler-a-letranger","souvrir-a-linternational--sorganiser-suite-a-son-retour-en-france","trouver-un-emploi--convaincre-un-recruteur-en-entretien","trouver-un-emploi--faire-des-candidatures-spontanees","trouver-un-emploi--maintien-dans-lemploi","trouver-un-emploi--repondre-a-des-offres-demploi","trouver-un-emploi--suivre-ses-candidatures-et-relancer-les-employeurs"],"title":"Thematique","description":"Thématiques"},"TypeService":{"type":"string","enum":["accompagnement","aide-financiere","aide-materielle","atelier","formation","information"],"title":"TypeService","description":"Types de services"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"},"input":{"title":"Input"},"ctx":{"type":"object","title":"Context"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}},"securitySchemes":{"HTTPBearer":{"type":"http","scheme":"bearer"}}}}